.reserved-rockets-container,
.joined-mission-container {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.joined-mission-container {
  margin-left: 100px;
}

.reserved-rockets-container > h2,
.joined-mission-container > h2 {
  margin-bottom: 0;
}

.reserved-rockets,
.joined-missions {
  width: 25vw;
  margin: 0;
  margin-top: 0.5rem;
  border: 1.5px solid #dfdfdf;
  border-radius: 4px;
  padding: 0;
}

.joined-missions {
  width: 50vw;
}

.reserved-rockets > li,
.joined-missions > li {
  border-bottom: 1.5px solid #dfdfdf;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.reserved-rockets > li:last-child,
.joined-missions > li:last-child {
  border: none;
}

.reserved-rockets > li > p,
.joined-missions > li > p {
  font-weight: bold;
}

.profile-leave-btn {
  width: 92px;
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  margin-top: 1rem;
}
