.reserved-rockets-container,
.joined-mission-container {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.reserved-rockets-container > h2,
.joined-mission-container > h2 {
  margin-bottom: 0;
}

.reserved-rockets,
.joined-missions {
  margin: 0;
  margin-top: 0.5rem;
  border: 1.5px solid #dfdfdf;
  border-radius: 4px;
  padding: 0;
}

.reserved-rockets > li,
.joined-missions > li {
  border-bottom: 1.5px solid #dfdfdf;
}

.reserved-rockets > li:last-child,
.joined-missions > li:last-child {
  border: none;
}

.reserved-rockets > li > p,
.joined-missions > li > p {
  font-weight: bold;
}

.profile-leave-btn {
  font-weight: bold;
}

.cancel-rocket {
  font-weight: bold;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
