#rocket-list {
  padding-left: 2%;
}

.rocket-card {
  display: grid;
  margin-top: 1rem;
  grid-template-rows: 0.5fr 1.1fr 1fr;
  grid-template-columns: 22% 75%;
  gap: 2%;
}

.rocket-card > img {
  grid-row: 1/4;
  grid-column: 1/1;
  width: 100%;
}

.rocket-name,
.rocket-description {
  margin: 0;
  font-size: 20px;
  justify-self: flex-start;
  align-self: flex-start;
}

.rocket-name {
  font-weight: bold;
}

.rocket-card > button {
  grid-column: 2/2;
  background: #007bff;
  color: #fff;
  border-color: #007bff;
  border-radius: 4px;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  justify-self: flex-start;
  align-self: flex-start;
}
