.rocket-card > img {
  object-fit: contain;
  object-position: center;
}

.rocket-name {
  font-weight: bold;
  flex:  0.3;
}

.rocket-description {
  flex:  1;
}

.reserve-btn {
  font-weight: bold;
  margin-right: unset;
}


@media screen and (min-width: 961px) {
.items-start-ns {
  align-items: unset;
}
.reserve-btn {
  margin-right: auto;
}  
}

.badge {
  font-size: 14px;
  background: #18a2b8;
  color: #fff;
  border: 1px solid #18a2b8;
  border-radius: 4px;
  margin-right: 8px;
  padding: 0 5px;
  font-weight: bolder;
  line-height: 2;
  letter-spacing: 2px;
}

.dn {
  display: none;
}
