.member-btn {
  background-color: #828990;
  color: #fff;
  width: 150px;
  padding: 2px;
  border-radius: 5px;
}

.join-leave-btn {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
}

.leave-btn {
  color: #de4956;
  border-color: #de4956;
}

.active-member {
  background-color: #18a2b8;
  color: #fff;
  border-color: #18a2b8;
}
