body {
  overflow-x: hidden;
}

td {
  font-size: 1rem;
}

.member-btn {
  background-color: #828990;
  color: #fff;
  width: 150px;
  padding: 0;
  margin: 50px auto;
}

.join-btn {
  width: 150px;
  padding: 0;
  margin: 50px auto;
}

.leave-btn {
  width: 150px;
  padding: 0;
  margin: 50px auto;
  color: #de4956;
  border-color: #de4956;
}
